.end-items {
    float: inline-end;
}

.modules {
    width: 70vw;
}

.modules .row {
    width: 70vw;
    justify-content: right;
}

.module-title {
    background-color: white;
    font-size: large;
}

.green-check {
    color: green;
    /* float: inline-end; */
}

.end-items {
    float: inline-end;
    color: gray;
}

/* .list-group-item {
    width: 1175px;
} */

.black-link {
    color: black;
    text-decoration: none;
}